<!DOCTYPE html>
<html ng-app="myApp">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.min.css">
<link rel="stylesheet" href="/bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css">
<link rel='stylesheet' href='/bower_components/textAngular/dist/textAngular.css'>
<link rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css'>


<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="../styles/css-admin.css">

<body ng-controller="maincontroller">

    <div class="w3-sidebar w3-bar-block w3-card-2 w3-animate-left side-bar" style="display:none;background-color:#009688;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Close &times;</button>

        <h3>Wellcome admin</h3>
        <img src="img/me.jpg" class="img-circle" //border-radius// alt="Cinque Terre" width="100" height="100" style="margin:10px;padding:10px;">
        <a href="/index.html" class="w3-bar-item w3-button">Trang chủ</a>
        <a href="admin.html" class="w3-bar-item w3-button">Admin- quản lý bài viết </a>
        <a href="new-post.html" class="w3-bar-item w3-button">Đăng bài mới</a>
        <a href="categories.html" class="w3-bar-item w3-button">Chuyện mục</a>
        <a href="#" class="w3-bar-item w3-button">Quản lý bình luận</a>
        <a href="#" class="w3-bar-item w3-button">Tin nhắn</a>
    </div>

    <div class="w3-main" id="main">

        <div class="w3-teal">
            <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">&#9776;</button>


            <div class="w3-container">
                <h1>Admin Page - Chuyên Mục</h1>
            </div>
        </div>
        <div class="container">

            <h2>Quản lý chuyên mục</h2>
            <p> All: ({{categories.length}})</p>

            <div class="table-responsive" ng-init="apiGetCat()">
                <table class="table">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên chuyên mục</th>
                            <th>Mô tả</th>
                            <th>Ngày tạo</th>
                            <th>Số bài đăng</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="cat in categories">
                            <td>1</td>
                            <td>{{cat.name}}</td>
                            <td>{{cat.description}}</td>
                            <td>{{cat.create_date}}</td>
                            <td>10</td>
                            <td><button class="btn btn-info"><a href="#">Sửa</a></button><button class="btn btn-info"><a href="#">Xóa</a></button></td>
                        </tr>


                    </tbody>
                </table>
            </div>

            <!-- <form ng-submit="submitCreateCategory()">
                <h2>Thêm chuyên mục</h2>
                <input class="input-title form-control" ng-model="newCategory.name" type="text" placeholder="Nhập tiêu đề">
                <h2>Mô tả</h2>
                <textarea class="input-title form-control" rows="5" ng-model="newCategory.description" type="text" placeholder="Nhập mô tả"></textarea><br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <br> -->
            <form ng-submit="submitCreateCategory()" method="POST" role="form" class="my-form fix-hack">
                <label class="title_input">Add Title</label>
                <input type="text" val="" ng-model="newCategory.name" class="form-control input-title cat-input">
                <label class="title_input">Add Description</label>
                <textarea class="form-control" val="" ng-model="newCategory.description" class="my-form-area cat-input" rows="5">

                                    </textarea><br>


                <button type="submit" class="btn btn-success right clearfix clear ">Publish</button><br></br>
            </form>

        </div>

        <!-- <div class="modal fade" id="modal-id">
            <div class="modal-dialog ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Are you sure ?</h4>
                    </div>
                    <div class="modal-body">

                        <button type="button" class="btn btn-primary right modal-btn" data-dismiss="modal">No</button>
                        <button type="button" class="btn btn-default right modal-btn">Yes</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal fade" id='delete-modal'>
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title text-center">Do you sure?</h4>
                    </div>
                    <div class="modal-footer">
                        <form ng-submit="deleteCategory()">
                            <button type="submit" class="btn btn-danger">Yes</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade modal-edit" id="modal-id">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form method="POST" role="form" class="my-form fix-hack">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Edit</h3>
                        </div>
                        <div class="modal-body">

                            <h3 class="title_input">Add Title</h3>
                            <input type="text" val="" class="form-control input-title cat-input">
                            <h3 class="title_input">Add Description</h3>
                            <textarea class="form-control" val="" class="my-form-area cat-input" rows="5">

                                    </textarea><br>





                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-success">Save changes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->


    </div>

    <script>
        function w3_open() {
            document.getElementById("main").style.marginLeft = "18%";
            document.getElementById("mySidebar").style.width = "18%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
        }

        function w3_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
        }
    </script>

</body>




<script src="/bower_components/jquery/dist/jquery.min.js "></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js "></script>
<script src="/bower_components/angular/angular.min.js "></script>
<script src="/bower_components/angular-route/angular-route.min.js "></script>
<script src="/bower_components/ng-tags-input/ng-tags-input.min.js "></script>
<script src='/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>

<script src='/bower_components/textAngular/dist/textAngular-rangy.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular-sanitize.min.js'></script>
<script src='/bower_components/textAngular/dist/textAngular.min.js'></script>

<script src="../scripts/admin.js"></script>

<script src="../scripts/app.js "></script>

</html>