.header{
	margin-top: 100px;
	padding-top: 15px;

	
	height: 200px;
	background-color: lavender;
}
h1{
	margin-top:0px;
	padding:50px;
	text-align: center;

}
nav{
	padding-top:10px;
	margin: 0px;
}
.share-post-tit{
	padding: 20px;
}
li{
	list-style-type: none;
}
.block-comment {
	border: 1px solid rgb(225, 225, 225);
	height: 160px;
	border-radius: 8px;
	width: 50px;
}