<div class="container" style="padding-top:20px;">
    <div ng-init="getArticle()" class="container">
        <div class="row">
            <!-- <h1 style="text-align:center;"></h1> -->
            <div>
                <div class="col-lg-8 col-md-8 col-ms-8">
                    <div class="full-artical">
                        <div class="title ">
                            <h1> <a href="#detail/{{article._id}} ">{{article.title}}</a></h1>
                        </div>
                        <div class="post-date date-single">
                            <a href="#author/{{articlesInCategory._author._id}}"> {{article._author.name}}</a> <a href="">{{getCategoryNameOfArticle(article._category._id)}}</a> | <a href=""> {{article.createdDate | date: 'dd-MM-yyyy HH:mm:ss'}}</a>
                        </div>
                        <!-- <div class="m-thumbnail">
                            <a href="#detail/{{x._id}}"><img class="portrait" ng-src="{{x.media}}" style="width:100%;"></a>
                        </div> -->
                        <br>
                    </div>
                    <div class="thumbnail-cat">
                        <a href="#single/{{article._id}} ">
                            <img ng-src="{{article.media}}" class="portrait-cat" alt="Image" />
                        </a>
                    </div>
                    <br>
                    <div class="full-description">

                        <div ng-bind-html="article.content" class="blog-content"> </div>
                    </div>
                    <hr>
                    <hr>
                    <hr>
                    <div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 previous article" style="text-align:left;">
                            <h6>Previous article</h6>
                            <p><a href="">A Complete Guide to Finding the Best Spa in the World</a></p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 next article" style="text-align:right;">
                            <h6>Next article</h6>
                            <p><a href="">How to Pick the Perfect House Plant for Positive Energy</a></p>
                        </div>
                    </div>
                    <hr>
                    <div class="row related articles">
                        <h3>RELATED ARTICLES</h3>

                        <div class="col-lg-4 col-md-4 col-ms-4">
                            <img src="img/p3.jpg" style="width:100%;">
                            <h6>Style</h6>
                            <a href="">Tighten Your Butt and Upper Body in Just 4 Moves</a>
                        </div>

                        <div class="col-lg-4 col-md-4 col-ms-4">
                            <img src="img/p3.jpg" style="width:100%;">
                            <h6>Style</h6>
                            <a href="">Tighten Your Butt and Upper Body in Just 4 Moves</a>
                        </div>
                        <div class="col-lg-4 col-md-4 col-ms-4">
                            <img src="img/p3.jpg" style="width:100%;">
                            <h6>Style</h6>
                            <a href="">Tighten Your Butt and Upper Body in Just 4 Moves</a>
                        </div>

                    </div>
                    <div>
                        <h3 style="text-align:left;">Leave a comment:</h3>
                        <form class="block-comment">
                            <textarea placeholder="comment" cols="45" row="20" class="Comment"> </textarea><br><br>
                            <input type="text" placeholder="Name"><br><br>
                            <input type="text" placeholder="Email"><br>
                            <button class="snip1562">Submit</button>
                            <hr>
                        </form>

                    </div>

                </div>

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 side-bar">


                    <div class="latest-post">
                        <h5 class="tit-latest-post">Latest Post</h5>

                    </div>
                    <div class="block-instagram">
                        <h5 class="tit-latest-post">Instagram</h5>
                        <div class="row" style="padding:1px 10px;">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ins-img"><img src="img/small/9-324x235.jpg" style="width:100%;"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ins-img"><img src="img/small/9-324x235.jpg" style="width:100%;"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ins-img"><img src="img/small/9-324x235.jpg" style="width:100%;"></div>
                        </div>

                    </div>
                    <div class="block-category">
                        <h5 class="tit-latest-post">Category</h5>
                        <p>
                            <ul>

                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>